<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-60</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
</dict>
</plist>
